.google-button {
    display: inline-block;
    background: white;
    border: 1px solid #e2e2e2;

    span.label {
        font-family: serif;
        font-weight: normal;
        color: black;
    }
    span.icon {
        background: url('/assets/g-normal.png') transparent 5px 50% no-repeat;
        display: inline-block;
        vertical-align: middle;
        width: 42px;
        height: 20px;
    }
    span.buttonText {
        display: inline-block;
        vertical-align: middle;
        color: black;
    }
}
  .google-button:hover {
    cursor: pointer;
  }